@using Microsoft.AspNet.Identity
@model Triotech.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}

@*<h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@


<!DOCTYPE html>
<!-- Template Name: Clip-One - Responsive Admin Template build with Twitter Bootstrap 3.x Version: 1.4 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
    <title>@ViewBag.Title - Triotech</title>
    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->
    <link rel="stylesheet" href="~/Assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Assets/fonts/style.css">
    <link rel="stylesheet" href="~/Assets/css/main.css">
    <link rel="stylesheet" href="~/Assets/css/main-responsive.css">
    <link rel="stylesheet" href="~/Assets/plugins/iCheck/skins/all.css">
    <link rel="stylesheet" href="~/Assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css">
    <link rel="stylesheet" href="~/Assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/Assets/css/theme_light.css" type="text/css" id="skin_color">
    <link rel="stylesheet" href="~/Assets/css/print.css" type="text/css" media="print" />
    <!--[if IE 7]>
    <link rel="stylesheet" href="~/Assets/plugins/font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link rel="shortcut icon" href="~/Assets/favicon.ico" />
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
</head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body class="login example1 header-default">
    <div class="logo">
        @*Triotech*@
        <h1>Triotech International</h1>
        @*<img src="~/Assets/images/TriotechLogo.gif" style="height:100px;width:425px;max-width: 100%" />*@
        @*<img src="~/Assets/images/BlackImage.png" style="height:50px" />
            <img src="~/Assets/images/LogoIcon.png" style="height:50px" />*@


        @*<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>*@
    </div>
    <div class="main-login col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">

        @*<script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
            }
        </script>*@
        <!-- start: REGISTER BOX -->
        <div class="box-login">
            @*<div id="google_translate_element"></div>*@
            <h3>Sign Up</h3>
            <p>
                Enter your personal details below:
            </p>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-register", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <fieldset>

                    @if (Model == null)
                    {
                        <div class="form-group">
                            @Html.DropDownList("RoleId", null, "---Please Select Role---", htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                        </div>

                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.Username):
                            @Html.DisplayFor(model => model.Username)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email):
                            @Html.DisplayFor(model => model.Email)
                        </div>

                    }
                    <div class="form-group">
                        @Html.HiddenFor(m => m.UserId)
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                    </div>
                    @*<div class="form-group">
                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @placeholder = "Address" })
                    </div>*@
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Country, new { @class = "form-control", @placeholder = "Country" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", @placeholder = "City" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.State, new { @class = "form-control", @placeholder = "State" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Street, new { @class = "form-control", @placeholder = "Street" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Near, new { @class = "form-control", @placeholder = "Nr." })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", @placeholder = "Postal Code", @type = "number" })
                    </div>
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <div class="form-group">
                                <label>Status: </label>
                                @Html.CheckBoxFor(m => m.IsActive)
                            </div>
                        }
                    }
                    
                    <div class="form-actions">
                        <a href="/User" class="btn btn-light-grey go-back">
                            <i class="fa fa-circle-arrow-left"></i> Back
                        </a>
                        <button type="submit" class="btn btn-bricky pull-right">
                            Submit <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </fieldset>
            }

        </div>
        <!-- end: REGISTER BOX -->
        <!-- start: COPYRIGHT -->
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-left">
                    @*<a href="https://www.agiletechstudio.com/" target="_blank">Powered by Agiletech Studio</a>*@
                </div>
                <div class="col-md-6 text-right">
                    <span>Copyright © @DateTime.Now.Year Triotech International All rights reserved.</span>
                </div>
            </div>
            <div class="footer-inner">

            </div>
            <div class="footer-items">
                @*<span class="go-top"><i class="clip-chevron-up"></i></span>*@
            </div>
        </div>
        <!-- end: COPYRIGHT -->
    </div>
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <script src="~/Assets/plugins/respond.min.js"></script>
    <script src="~/Assets/plugins/excanvas.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/jQuery-lib/1.10.2/jquery.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="~/Assets/plugins/jQuery-lib/2.0.3/jquery.min.js"></script>
    <!--<![endif]-->
    <script src="~/Assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script src="~/Assets/plugins/blockUI/jquery.blockUI.js"></script>
    <script src="~/Assets/plugins/iCheck/jquery.icheck.min.js"></script>
    <script src="~/Assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
    <script src="~/Assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
    <script src="~/Assets/plugins/less/less-1.5.0.min.js"></script>
    <script src="~/Assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <script src="~/Assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
    <script src="~/Assets/js/main.js"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="~/Assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Assets/js/login.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script>
        jQuery(document).ready(function () {
            Main.init();
            Login.init();
        });
    </script>
</body>
<!-- end: BODY -->
</html>